@tailwind base;
@tailwind components;
@tailwind utilities;

.border-arrow{
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0;
}
.mini-2{
    content: "";
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
}   
.cards::-webkit-scrollbar {
    display: none;
  }
.img-card{
    overflow: scroll !important;
}
.img-card::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.all-num-card::-webkit-scrollbar{ 
    display: none;  /* Safari and Chrome */
}
.img-s {
    position: relative;
    overflow: hidden;
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
}

.img-s img {
    transition: transform 0.3s ease-in-out;
}

.img-s:hover img {
    transform: scale(1.2); /* Adjust the scale factor for zoom effect */
}

.card-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Adjust text color */
    font-size: 18px; /* Adjust text size */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}