@tailwind base;
@tailwind components;
@tailwind utilities;

.border-arrow{
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0;
}
.mini-2{
    content: "";
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
}